<!DOCTYPE HTML>
<!--
	Broadcast by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
  <title>Generic - Broadcast by TEMPLATED</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="subpage">

  <!-- Header -->
  <header id="header">
    <h1><a href="#">Don't <span>Stop Music</span></a></h1>
  </header>

  <!-- Nav -->
  <nav id="menu">
    <ul class="links">
      <li><a href="index.html">Home</a></li>
      <li><a href="generic.html">Generic</a></li>
      <li><a href="elements.html">Elements</a></li>
    </ul>
  </nav>

  <!-- Main -->
  <div id="main" *ngIf="songData">

    <!-- One -->
    <section class="wrapper style1">
      <div class="inner">
        <header class="align-center">
          <h2>{{songData.name}}</h2>
          <p>Conoce más de {{songData.name}} en el siguiente artículo.</p>
        </header>
        <div style="text-align: center;">
          <div class="video-wrapper">
            <iframe width="560" height="315" [src]="getVideoIframe(songData.videoUrl)" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="caption">
            Cuenta con un ranking de {{songData.rating}} estrellas dentro de la plataforma
          </p>
          <p class="caption">
            Este canción se lanzó el {{songData.releaseDate}} y puedes disfrutarla dentro de nuestra plataforma
          </p>
          <p class="caption" *ngIf="songData.availableForDownload">
            Este canción actualmente puede ser descargada
          </p>
        </div>
      </div>
    </section>

  </div>

  <!-- Footer -->
  <footer id="footer">
    <div class="inner">
      <div class="flex flex-3">
        <div class="col">
          <h3>Más opciones</h3>
          <ul class="alt">
            <li><a routerLink='/song-edit/{{songData.name}}'>Editar información</a></li>
            <li (click)="delete()">Eliminar canción</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/skel.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>
